[Unit]
Description=Cryptdisks Key Server

[Service]
EnvironmentFile=/etc/systemd/cryptdisksd.conf
EnvironmentFile=-%h/.config/systemd/%N.conf
ExecStart=/sbin/cryptdisksd keyserver
Type=notify
NotifyAccess=all
ExecStop=/bin/bash -c '/bin/kill -SIGTERM $MAINPID; /bin/waitpid $MAINPID'
TimeoutStopSec=15
ExecReload=/bin/kill -SIGHUP $MAINPID
Restart=on-failure
