[Unit]
Description=Cryptdisks Daemon
DefaultDependencies=no
Wants=systemd-networkd.service sysinit.target
After=sysinit.target basic.target systemd-networkd.service %N.socket
Requires=sysinit.target %N.socket
Before=shutdown.target reboot.target halt.target
Conflicts=shutdown.target reboot.target halt.target

[Service]
Type=notify
NotifyAccess=main
EnvironmentFile=-/etc/systemd/%N.conf
ExecStartPre=-/bin/bash -c 'if [[ ! -L /root/.bashrc ]]; then /bin/ln -sf /etc/bashrc /root/.bashrc; fi'
ExecStart=/usr/sbin/%N
ExecReload=/usr/sbin/%N reload
ExecStop=/usr/sbin/%N stop
TimeoutStopSec=15
Restart=on-failure
