[Unit]
Description=Cryptdisks udev FiFo
DefaultDependencies=no
After=systemd-journald.service
Before=systemd-udevd.service shutdown.target initrd-switch-root.target
Conflicts=shutdown.target emergency.target initrd-switch-root.target

[Socket]
ListenFIFO=/run/%N/queue
DirectoryMode=1777
SocketUser=root
SocketGroup=systemd
SocketMode=0620
PipeSize=1M
ExecStartPre=-/bin/rm -rf /run/%N/
ExecStopPost=-/bin/rm -rf /run/%N/

[Install]
WantedBy=sockets.target
